










P.MsoAutoSig {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoBodyTextIndent2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: 200%; }


P.MsoTof {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoToc7 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 60pt; }

P.MsoIndex5 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 50pt;  TEXT-INDENT: -10pt; }

H5 {FONT-SIZE: 16pt;  FONT-FAMILY: Roboto;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 12pt 18pt 0pt 0pt; }

P.MsoNormal {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }






P.MsoQuote {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  FONT-STYLE: italic;  MARGIN: 0pt; }

P.MsoListParagraph {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 36pt; }








P.MsoBlockText {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 72pt 6pt; }

P.MsoBodyTextIndent3 {FONT-SIZE: 8pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 18pt; }


P.MsoCommentText {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoNormalIndent {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 36pt; }

P.MsoToc8 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 70pt; }

P.MsoIndex6 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 60pt;  TEXT-INDENT: -10pt; }

H6 {FONT-SIZE: 14pt;  FONT-FAMILY: Roboto;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #198168;  FONT-STYLE: italic;  MARGIN: 12pt 18pt 3pt 0pt; }










SPAN.MsoHyperlinkFollowed {TEXT-DECORATION: underline;  COLOR: purple;  text-underline: single; }

P.MsoToc9 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 80pt; }

P.MsoIndex7 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 70pt;  TEXT-INDENT: -10pt; }










ADDRESS {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  FONT-STYLE: italic;  MARGIN: 0pt; }

P.MsoListContinue {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 18pt; }

P.MsoToaHeading {FONT-SIZE: 12pt;  FONT-FAMILY: "Cambria","serif";  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 6pt 0pt 0pt; }

P.MsoFooter {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt;  tab-stops: center 234.0pt right 468.0pt; }

P.MsoIndex8 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 80pt;  TEXT-INDENT: -10pt; }









P.MsoClosing {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 216pt; }

P.MsoCaption {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 0pt; }

P.MsoIndex9 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -10pt; }

P.MsoHeading7 {FONT-SIZE: 12pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 12pt 0pt 3pt; }

P.normal {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }
SPAN.normal {color:black; text-decoration:none; }










P.MsoBodyText2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: 200%; }

P.MsoListBullet {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: -18pt;  tab-stops: list 18.0pt; }

P.MsoHeading8 {FONT-SIZE: 12pt;  FONT-FAMILY: "Calibri","sans-serif";  COLOR: black;  FONT-STYLE: italic;  MARGIN: 12pt 0pt 3pt; }










P.MsoBodyText3 {FONT-SIZE: 8pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt; }


P.MsoHeader {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt;  tab-stops: center 234.0pt right 468.0pt; }

P.MsoHeading9 {FONT-SIZE: 11pt;  FONT-FAMILY: "Cambria","serif";  COLOR: black;  MARGIN: 12pt 0pt 3pt; }









P.MsoCommentSubject {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 0pt; }




P.MsoListContinue2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 36pt; }

P.MsoSignature {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 216pt; }











P.MsoPlainText {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  COLOR: black;  MARGIN: 0pt; }

EM {FONT-FAMILY: Roboto; }

P.MsoSubtitle {FONT-SIZE: 24pt;  FONT-FAMILY: "Georgia","serif";  PAGE-BREAK-AFTER: avoid;  COLOR: #666666;  FONT-STYLE: italic;  MARGIN: 18pt 0pt 4pt; }

P.MsoMessageHeader {FONT-SIZE: 12pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Cambria","serif";  BORDER-RIGHT: medium none;  BACKGROUND: #cccccc;  BORDER-BOTTOM: medium none;  COLOR: black;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt 0pt 0pt 54pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -54pt; }

P.MsoListContinue3 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 54pt; }

P.MsoListBullet2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.MsoEndnoteText {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoEnvelopeAddress {FONT-SIZE: 12pt;  FONT-FAMILY: "Cambria","serif";  COLOR: black;  MARGIN: 0pt 0pt 0pt 144pt; }









SPAN.MsoHyperlink {TEXT-DECORATION: underline;  COLOR: blue;  text-underline: single; }

P.MsoListContinue4 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 72pt; }

P.MsoListBullet3 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoIndexHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Cambria","serif";  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 0pt; }








P.MsoNoSpacing {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }




P.MsoBodyTextFirstIndent {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt;  TEXT-INDENT: 10.5pt; }

P.MsoListContinue5 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 90pt; }

P.MsoListBullet4 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 72pt;  TEXT-INDENT: -18pt;  tab-stops: list 72.0pt; }

SPAN.MsoCommentReference {}

P.MsoFootnoteText {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }










P.MsoListBullet5 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -18pt;  tab-stops: list 90.0pt; }

P.MsoEnvelopeReturn {FONT-SIZE: 10pt;  FONT-FAMILY: "Cambria","serif";  COLOR: black;  MARGIN: 0pt; }

P.MsoToc1 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }










P.MsoDocumentMap {FONT-SIZE: 8pt;  FONT-FAMILY: "Tahoma","sans-serif";  COLOR: black;  MARGIN: 0pt; }

P.MsoNoteHeading {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoSalutation {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoTitle {FONT-SIZE: 36pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: black;  TEXT-ALIGN: right;  MARGIN: 12.1pt 0pt 36.1pt; }

P.MsoListNumber2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.MsoList2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt; }

P.MsoToa {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 10pt;  TEXT-INDENT: -10pt; }

P.MsoToc2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 10pt; }









P.MsoBodyTextIndent {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 18pt; }

P.MsoListNumber3 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoList3 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt; }

P.MsoList {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: -18pt; }

P.MsoMacroText {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  COLOR: black;  MARGIN: 0pt;  tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt; }

P.MsoToc3 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 20pt; }

P.MsoIndex1 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 10pt;  TEXT-INDENT: -10pt; }

H1 {FONT-SIZE: 22pt;  FONT-FAMILY: Roboto;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 12pt 0pt 3pt; }









PRE {FONT-SIZE: 10pt;  FONT-FAMILY: "Courier New";  COLOR: black;  MARGIN: 0pt;  tab-stops: 36.0pt; }

P.MsoDate {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }

P.MsoListNumber4 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 72pt;  TEXT-INDENT: -18pt;  tab-stops: list 72.0pt; }

P.MsoList4 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 72pt;  TEXT-INDENT: -18pt; }

P.MsoListNumber {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: -18pt;  tab-stops: list 18.0pt; }

SPAN.MsoFootnoteReference {VERTICAL-ALIGN: super; }

P.MsoToc4 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 30pt; }

P.MsoIndex2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 20pt;  TEXT-INDENT: -10pt; }

H2 {FONT-SIZE: 22pt;  FONT-FAMILY: Roboto;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 12pt 0pt 3pt; }




P.MsoIntenseQuote {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: Roboto;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  COLOR: #4f81bd;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 10pt 46.8pt 14pt;  PADDING-RIGHT: 0pt; }





P.MsoListNumber5 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -18pt;  tab-stops: list 90.0pt; }

P.MsoList5 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -18pt; }

P.MsoToc5 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 40pt; }

P.MsoIndex3 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 30pt;  TEXT-INDENT: -10pt; }

H3 {FONT-SIZE: 20pt;  FONT-FAMILY: Roboto;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 12pt 0pt 3pt; }

P.MsoBibliography {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt; }











P.MsoBodyTextFirstIndent2 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 18pt;  TEXT-INDENT: 10.5pt; }

P.MsoBodyText {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt; }

P.MsoToc6 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 50pt; }

P.MsoIndex4 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 0pt 40pt;  TEXT-INDENT: -10pt; }

H4 {FONT-SIZE: 18pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #198168;  FONT-STYLE: italic;  MARGIN: 12pt 18pt 3pt 0pt; }

