SPAN.TableCellsChar {}












P.MsoAutoSig {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoBodyTextIndent2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 18pt;  LINE-HEIGHT: 200%; }


P.MsoTof {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoToc7 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 5pt 60pt; }

P.MsoIndex5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 50pt;  TEXT-INDENT: -10pt; }

H5 {FONT-SIZE: 16pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 12pt 18pt 0pt 0pt; }

P.MsoNormal {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

SPAN.C1HPopupText {BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  BACKGROUND: #ccffff;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none; }

SPAN.C1HTopicProperties {COLOR: purple;  DISPLAY: none; }

P.C1HBullet2A {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 6pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: 36.0pt list 54.0pt; }






P.MsoQuote {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  FONT-STYLE: italic;  MARGIN: 0pt; }

P.MsoListParagraph {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 36pt; }








P.MsoBlockText {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Calibri","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: #4f81bd;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt 57.6pt;  PADDING-RIGHT: 0pt; }

P.MsoBodyTextIndent3 {FONT-SIZE: 8pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 18pt; }


P.MsoCommentText {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoNormalIndent {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 36pt; }

P.MsoToc8 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 5pt 70pt; }

P.MsoIndex6 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 60pt;  TEXT-INDENT: -10pt; }

H6 {FONT-SIZE: 14pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: #993300;  FONT-STYLE: italic;  MARGIN: 12pt 18pt 3pt 0pt; }

P.Noteintable {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 9pt 3.6pt 6pt 21.25pt;  TEXT-INDENT: -22.85pt;  tab-stops: 21.25pt; }

P.Illustration {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 12pt 0pt 18pt; }

P.C1SectionEnd {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt; }

P.Topics {FONT-SIZE: 11pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial Narrow","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 18pt 0pt 0pt;  PADDING-RIGHT: 0pt;  tab-stops: right dotted 337.5pt; }

SPAN.C1HInlineDropdown {TEXT-DECORATION: underline;  COLOR: teal;  text-underline: single; }

SPAN.C1HLinkTag {COLOR: windowtext; }

P.Center {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  TEXT-ALIGN: center;  MARGIN: 9pt 0pt 0pt; }










SPAN.MsoHyperlinkFollowed {TEXT-DECORATION: underline;  COLOR: purple;  text-underline: single; }

P.MsoToc9 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 5pt 80pt; }

P.MsoIndex7 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 70pt;  TEXT-INDENT: -10pt; }

SPAN.Emphasisintable {FONT-STYLE: italic; }

SPAN.C1HPopup {COLOR: #993300;  FONT-STYLE: italic; }

P.C1HBullet2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 6pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: 36.0pt list 54.0pt; }

P.SuperTitle {FONT-SIZE: 36pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-ALIGN: center;  MARGIN: 44pt 0pt 146.1pt; }

P.TableCells {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 0pt 0pt 6pt; }










ADDRESS {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-STYLE: italic;  MARGIN: 0pt; }

P.MsoListContinue {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 18pt; }

P.MsoToaHeading {FONT-SIZE: 12pt;  FONT-FAMILY: "Cambria","serif";  FONT-WEIGHT: bold;  MARGIN: 6pt 0pt 0pt; }

P.MsoFooter {FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt;  PADDING-RIGHT: 0pt;  tab-stops: right 468.0pt; }

P.MsoIndex8 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 80pt;  TEXT-INDENT: -10pt; }

SPAN.C1HConditional {BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  BACKGROUND: #d9d9d9;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none; }

P.C1HContinue {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 36pt; }

P.Note {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 18pt;  TEXT-INDENT: -22.5pt;  tab-stops: 0pt; }









P.MsoClosing {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 216pt; }

P.MsoCaption {FONT-SIZE: 9pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 3pt 0pt 8pt;  tab-stops: 180.0pt 198.0pt; }

P.MsoIndex9 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -10pt; }

P.MsoHeading7 {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 18pt 18pt 3pt 0pt; }

P.Indentedtableheading {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 12pt 3.6pt 3pt 36pt; }

P.BodyTable {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 5.75pt 0pt 0pt; }

P.GlossaryHeading {FONT-SIZE: 14pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 17pt 0pt 0pt; }

P.C1HNumber {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }










P.MsoBodyText2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: 200%; }

P.MsoListBullet {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: -18pt;  tab-stops: list 18.0pt; }

P.MsoHeading8 {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  FONT-STYLE: italic;  MARGIN: 18pt 18pt 3pt 0pt; }

P.C1SectionExpanded {FONT-SIZE: 18pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #993300;  FONT-STYLE: italic;  MARGIN: 12pt 18pt 3pt 0pt; }

SPAN.C1HVariable {COLOR: #993300;  FONT-STYLE: italic; }

P.HeaderBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt; }

P.HeadingBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt; }










P.MsoBodyText3 {FONT-SIZE: 8pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt; }


P.MsoHeader {FONT-SIZE: 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt;  tab-stops: right 486.0pt; }

P.MsoHeading9 {FONT-SIZE: 10pt;  FONT-FAMILY: "Cambria","serif";  PAGE-BREAK-AFTER: avoid;  COLOR: #404040;  FONT-STYLE: italic;  MARGIN: 10pt 0pt 0pt; }

P.Noteindented {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 63pt;  TEXT-INDENT: -27pt;  tab-stops: 18.0pt 63.0pt; }

P.GlossaryHeadingnoautolinks {FONT-SIZE: 14pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #993300;  MARGIN: 17pt 0pt 0pt; }

SPAN.C1HKeywordLink {TEXT-DECORATION: underline;  COLOR: olive;  text-underline: single; }

P.MidTopic {FONT-SIZE: 20pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  PAGE-BREAK-BEFORE: always;  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 3pt; }

P.C1HNumber2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.IndexBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }









P.MsoCommentSubject {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-WEIGHT: bold;  MARGIN: 0pt; }




P.MsoListContinue2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 36pt; }

P.MsoSignature {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 216pt; }

P.Illustrationinnumberedlist {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 12pt 0pt 18pt 36pt; }

SPAN.C1HInlineExpand {COLOR: teal; }











P.MsoPlainText {FONT-SIZE: 10.5pt;  FONT-FAMILY: "Consolas","serif";  MARGIN: 0pt; }

EM {FONT-FAMILY: "Times New Roman","serif"; }

P.MsoSubtitle {FONT-SIZE: 26pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: center;  MARGIN: 0pt 0pt 3pt; }

P.MsoMessageHeader {FONT-SIZE: 12pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Cambria","serif";  BORDER-RIGHT: medium none;  BACKGROUND: #cccccc;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt 0pt 0pt 54pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -54pt; }

P.MsoListContinue3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 54pt; }

P.MsoListBullet2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.MsoEndnoteText {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoEnvelopeAddress {FONT-SIZE: 12pt;  FONT-FAMILY: "Cambria","serif";  MARGIN: 0pt 0pt 0pt 144pt; }

P.note0 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 0pt; }

P.RelatedHead {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: fuchsia;  MARGIN: 6pt 0pt 3pt; }

SPAN.C1HExpandText {BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  BACKGROUND: #ccffff;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none; }

SPAN.C1HIndex {COLOR: olive; }

P.ByLine {FONT-SIZE: 14pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: center;  MARGIN: 40.1pt 0pt 36.1pt; }

P.TableHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 12pt 3.6pt 3pt 0pt; }

P.footerodd {FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt;  PADDING-RIGHT: 0pt;  tab-stops: right 468.0pt; }









SPAN.MsoHyperlink {TEXT-DECORATION: underline;  COLOR: blue;  text-underline: single; }

P.MsoListContinue4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 72pt; }

P.MsoListBullet3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoIndexHeading {FONT-SIZE: 11pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 15.1pt 0pt 6.1pt; }

P.Heading2nopgbreakbefore {FONT-SIZE: 22pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 12pt 0pt 3pt;  PADDING-RIGHT: 0pt; }

SPAN.C1HIndexInvisible {COLOR: olive;  DISPLAY: none; }








P.MsoNoSpacing {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }




P.MsoBodyTextFirstIndent {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt;  TEXT-INDENT: 18pt; }

P.MsoListContinue5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 90pt; }

P.MsoListBullet4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 72pt;  TEXT-INDENT: -18pt;  tab-stops: list 72.0pt; }

SPAN.MsoCommentReference {}

P.MsoFootnoteText {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

SPAN.C1HContextID {COLOR: fuchsia;  DISPLAY: none; }

SPAN.C1HLinkTagInvisible {COLOR: windowtext;  DISPLAY: none; }

P.TOC-Topics {FONT-SIZE: 11pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 0pt;  tab-stops: right dotted 337.5pt; }










P.MsoListBullet5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -18pt;  tab-stops: list 90.0pt; }

P.MsoEnvelopeReturn {FONT-SIZE: 10pt;  FONT-FAMILY: "Cambria","serif";  MARGIN: 0pt; }

P.MsoToc1 {FONT-SIZE: 11pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 9pt 0pt 3pt 18pt;  tab-stops: right dotted 522.0pt; }

P.TOCTitle {FONT-SIZE: 30pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 48pt 0pt 24pt; }










P.MsoDocumentMap {FONT-SIZE: 8pt;  FONT-FAMILY: "Tahoma","sans-serif";  MARGIN: 0pt; }

P.MsoNoteHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoSalutation {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoTitle {FONT-SIZE: 36pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  TEXT-ALIGN: center;  MARGIN: 40.1pt 0pt 36.1pt; }

P.MsoListNumber2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.MsoList2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt; }

P.MsoToa {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 10pt;  TEXT-INDENT: -10pt; }

P.MsoToc2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  MARGIN: 0pt 0pt 0pt 40.3pt;  tab-stops: right dotted 535.7pt; }

SPAN.C1HDropdownText {BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  BACKGROUND: #ccffff;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none; }

SPAN.C1HOnline {BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  BACKGROUND: #99ccff;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none; }

P.C1HBullet {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 6pt 0pt 0pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: 36.0pt; }

P.headereven {FONT-SIZE: 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt;  tab-stops: right 486.0pt; }









P.MsoBodyTextIndent {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 6pt 18pt; }

P.MsoListNumber3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoList3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 54pt;  TEXT-INDENT: -18pt; }

P.MsoList {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: -18pt; }

P.MsoMacroText {FONT-SIZE: 10pt;  FONT-FAMILY: "Consolas","serif";  MARGIN: 0pt;  tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt; }

P.MsoToc3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  MARGIN: 0pt 0pt 0pt 58.3pt;  tab-stops: right dotted 553.7pt; }

P.MsoIndex1 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 21.6pt;  TEXT-INDENT: -21.6pt; }

H1 {FONT-SIZE: 30pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  MARGIN: 48.1pt 0pt 84.1pt; }

P.C1SectionCollapsed {FONT-SIZE: 18pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #993300;  FONT-STYLE: italic;  MARGIN: 12pt 18pt 3pt 0pt; }

P.C1HPopupTopicText {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt; }

SPAN.C1HJump {COLOR: green; }

P.footereven {FONT-SIZE: 9pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 0pt;  PADDING-RIGHT: 0pt;  tab-stops: right 468.0pt; }

SPAN.D2HNoGloss {}

P.TOCBase {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }









PRE {FONT-SIZE: 10pt;  FONT-FAMILY: "Consolas","serif";  MARGIN: 0pt;  tab-stops: 36.0pt; }

P.MsoDate {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }

P.MsoListNumber4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 72pt;  TEXT-INDENT: -18pt;  tab-stops: list 72.0pt; }

P.MsoList4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 72pt;  TEXT-INDENT: -18pt; }

P.MsoListNumber {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: -18pt;  tab-stops: list 18.0pt; }

SPAN.MsoFootnoteReference {VERTICAL-ALIGN: super; }

P.MsoToc4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 5pt 30pt; }

P.MsoIndex2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 21.6pt;  TEXT-INDENT: -14.4pt; }

H2 {FONT-SIZE: 22pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PAGE-BREAK-AFTER: avoid;  PAGE-BREAK-BEFORE: always;  FONT-WEIGHT: bold;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 12pt 0pt 3pt;  PADDING-RIGHT: 0pt; }

SPAN.C1HInlinePopup {TEXT-DECORATION: underline;  COLOR: teal;  FONT-STYLE: italic;  text-underline: single; }

SPAN.C1HManual {BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  BACKGROUND: #ccffcc;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none; }

P.C1HContinue2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 6pt 0pt 0pt 54pt; }

P.Jump {FONT-SIZE: 10pt;  TEXT-DECORATION: underline;  FONT-FAMILY: "Arial","sans-serif";  COLOR: fuchsia;  MARGIN: 9pt 0pt 0pt;  text-underline: double; }




P.MsoIntenseQuote {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Times New Roman","serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  FONT-WEIGHT: bold;  COLOR: #4f81bd;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 10pt 46.8pt 14pt;  PADDING-RIGHT: 0pt; }





P.MsoListNumber5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -18pt;  tab-stops: list 90.0pt; }

P.MsoList5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 90pt;  TEXT-INDENT: -18pt; }

P.MsoToc5 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 5pt 40pt; }

P.MsoIndex3 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 21.6pt;  TEXT-INDENT: -7.2pt; }

H3 {FONT-SIZE: 20pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  PAGE-BREAK-BEFORE: always;  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 3pt; }

SPAN.C1HContentsTitle {COLOR: #993300; }

P.headerodd {FONT-SIZE: 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt;  tab-stops: right 486.0pt; }

P.MsoBibliography {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt; }











P.MsoBodyTextFirstIndent2 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 18pt;  TEXT-INDENT: 18pt; }

P.MsoBodyText {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt; }

P.MsoToc6 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 5pt 50pt; }

P.MsoIndex4 {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 0pt 0pt 0pt 40pt;  TEXT-INDENT: -10pt; }

H4 {FONT-SIZE: 18pt;  FONT-FAMILY: "Arial","sans-serif";  PAGE-BREAK-AFTER: avoid;  FONT-WEIGHT: bold;  COLOR: #993300;  FONT-STYLE: italic;  MARGIN: 12pt 18pt 3pt 0pt; }

