P.Illustrationinnumberedlist {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 12pt 0pt 18pt 36pt;  LINE-HEIGHT: normal; }

P.Noteintable {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 3.6pt 6pt 21.25pt;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -22.85pt;  tab-stops: 21.25pt; }

P.Note {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana",sans-serif;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt; }

P.Illustration {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 12pt 0pt 18pt;  LINE-HEIGHT: 14pt; }

P.TableCells {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana",sans-serif;  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: normal; }

P.Normal1 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

SPAN.TableCellsEmphasis {FONT-FAMILY: "Arial",sans-serif;  COLOR: black;  FONT-STYLE: italic; }

SPAN.ColoredLetter-Gray {FONT-FAMILY: "Arial Narrow",sans-serif;  FONT-WEIGHT: bold;  COLOR: #999999; }

