P.Noteintable {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 3.6pt 6pt 21.25pt;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -22.85pt;  tab-stops: 21.25pt; }

P.Illustration {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 12pt 0pt 18pt;  LINE-HEIGHT: 14pt; }

P.TableHeadingIndented {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 3pt 3.6pt 0pt 36pt;  LINE-HEIGHT: normal; }

P.TableCells {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: normal; }

P.Note {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt; }

P.Noteindented {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Verdana","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt 9pt 63pt;  LINE-HEIGHT: 14pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -27pt;  tab-stops: 63.0pt; }

SPAN.C1HBullet2AChar {FONT-FAMILY: "Verdana","sans-serif"; }

