SPAN.TableCellsChar {}

P.Noteintable {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: black;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 3.6pt 6pt 21.25pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -22.85pt;  tab-stops: 21.25pt; }

P.TableCells {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt; }

P.Note {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: Roboto;  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: black;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt;  PADDING-RIGHT: 0pt; }

P.Definition {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt; }

SPAN.TableCellsEmphasis {FONT-FAMILY: "Arial","sans-serif";  FONT-STYLE: italic; }

P.note0 {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN-LEFT: 0pt;  MARGIN-RIGHT: 0pt; }

P.RelatedHead {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: fuchsia;  MARGIN: 6pt 0pt 3pt; }

P.TableHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 3pt 3.6pt 3pt 0pt; }

P.C1HBullet {FONT-SIZE: 10pt;  FONT-FAMILY: Roboto;  COLOR: black;  MARGIN: 0pt 0pt 6pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

