SPAN.ResearchLater {BORDER-TOP: windowtext 1pt;  FONT-FAMILY: "Times New Roman","serif";  BORDER-RIGHT: windowtext 1pt;  BACKGROUND: #ffff99;  BORDER-BOTTOM: windowtext 1pt;  FONT-WEIGHT: bold;  COLOR: red;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: windowtext 1pt;  PADDING-RIGHT: 0pt; }

P.C1HBullet2A {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt 54pt;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.Noteintable {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Arial","sans-serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: black;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 3.6pt 6pt 21.25pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -22.85pt;  tab-stops: 21.25pt; }

P.Illustration {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  MARGIN: 12pt 0pt 18pt; }

P.TableCells {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt; }

SPAN.CaptionFigureText {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.C1HContinue {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt 36pt; }

P.Note {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Times New Roman","serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: black;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt;  PADDING-RIGHT: 0pt; }

P.Definition {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt; }

P.C1HNumber {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.Noteindented {FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-FAMILY: "Times New Roman","serif";  BORDER-RIGHT: medium none;  BORDER-BOTTOM: medium none;  COLOR: black;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: medium none;  MARGIN: 9pt 0pt 9pt 63pt;  PADDING-RIGHT: 0pt;  TEXT-INDENT: -27pt;  tab-stops: 63.0pt; }

P.RelatedHead {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: fuchsia;  MARGIN: 6pt 0pt 3pt; }

P.TableHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: black;  MARGIN: 3pt 3.6pt 3pt 0pt; }

P.C1HBullet {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  COLOR: black;  MARGIN: 0pt 0pt 6pt 36pt;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

