SPAN.C1HContinueChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.ColoredLetter-Gray {FONT-FAMILY: "Arial Narrow","sans-serif";  COLOR: #999999;  FONT-WEIGHT: bold; }

SPAN.BodyTextChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.TableCellsChar1 {FONT-FAMILY: "Arial","sans-serif"; }

