SPAN.EditorsNote {BORDER-TOP: windowtext 1pt;  FONT-FAMILY: "Times New Roman","serif";  BORDER-RIGHT: windowtext 1pt;  BACKGROUND: yellow;  BORDER-BOTTOM: windowtext 1pt;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: windowtext 1pt;  PADDING-RIGHT: 0pt; }

P.Note {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 18pt;  TEXT-INDENT: -22.5pt;  tab-stops: 18.0pt; }

SPAN.TableHeadingChar {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

SPAN.NoteChar {FONT-FAMILY: "Times New Roman","serif"; }

P.Callout {FONT-SIZE: 8pt;  FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt; }

SPAN.BodyTextChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.ColoredLetter-Gray {FONT-FAMILY: "Arial Narrow","sans-serif";  FONT-WEIGHT: bold;  COLOR: #999999; }

