P.Note {FONT-SIZE: 10pt;  MARGIN: 9pt 0pt 0pt 18pt;  TEXT-INDENT: -22.5pt;  FONT-FAMILY: "Times New Roman","serif";  tab-stops: 18.0pt; }

SPAN.C1HBullet2AChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.CaptionChar4 {FONT-FAMILY: "Arial","sans-serif"; }

SPAN.IllustrationChar {FONT-FAMILY: "Times New Roman","serif"; }

