P.Note {FONT-SIZE: 10pt;  FONT-FAMILY: "Times New Roman","serif";  MARGIN: 9pt 0pt 0pt 18pt;  TEXT-INDENT: -22.5pt;  tab-stops: 18.0pt; }

SPAN.IllustrationChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.FootnoteTextChar1 {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.NoteChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.ResearchLater {BORDER-TOP: windowtext 1pt;  FONT-FAMILY: "Times New Roman","serif";  BORDER-RIGHT: windowtext 1pt;  BACKGROUND: #ffff99;  BORDER-BOTTOM: windowtext 1pt;  FONT-WEIGHT: bold;  COLOR: red;  PADDING-BOTTOM: 0pt;  PADDING-TOP: 0pt;  PADDING-LEFT: 0pt;  BORDER-LEFT: windowtext 1pt;  PADDING-RIGHT: 0pt; }

SPAN.BodyTextChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.CaptionFigure-CenteredChar {FONT-FAMILY: "Arial Narrow","sans-serif"; }

SPAN.Heading6Char {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold;  COLOR: #993300;  FONT-STYLE: italic; }

