SPAN.ResearchLater {BORDER-BOTTOM: windowtext 1pt;  BORDER-LEFT: windowtext 1pt;  PADDING-BOTTOM: 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Times New Roman","serif";  BACKGROUND: #ffff99;  COLOR: red;  BORDER-TOP: windowtext 1pt;  FONT-WEIGHT: bold;  BORDER-RIGHT: windowtext 1pt;  PADDING-TOP: 0pt; }

SPAN.FootnoteTextChar1 {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

SPAN.CaptionFigure-CenteredChar {FONT-FAMILY: "Arial Narrow","sans-serif"; }

P.Note {TEXT-INDENT: -22.5pt;  MARGIN: 9pt 0pt 0pt 18pt;  FONT-FAMILY: "Times New Roman","serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt; }

SPAN.BodyTextChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.IllustrationChar {FONT-FAMILY: "Times New Roman","serif"; }

SPAN.Heading6Char {FONT-STYLE: italic;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #993300;  FONT-WEIGHT: bold; }

SPAN.NoteChar {FONT-FAMILY: "Times New Roman","serif"; }

